header {
    font-family: "Roboto", sans-serif;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

a, a:visited a:focus {
    text-decoration: none;
    color: greenyellow;
}

a:hover {
    color: blue;
    cursor: crosshair;
}

.test {
    font-size: 120px;
}

#ajdicko {
    color: rgb(184, 15, 43)
    }
